TYPE CONVERSION

In [2]:
#int()
print("INT CONVERSION")
print(int(123.456)) #123
print(int(True))    #1
print(int(False))   #0
print(int("10"))    #10
# print(int("10.5"))  #invalid literal for int() with base 10: '10.5'
# print(int("ten"))   #invalid literal for int() with base 10: 'ten'

INT CONVERSION
123
1
0
10

In [3]:
#float()
print("FLOAT CONVERSION")
print(float(123)) #123.0
print(float(True)) #1.0
print(float(False)) #0.0
print(float("10")) #10.0
print(float("10.5")) #10.5
# print(float("ten")) #could not convert string to float: 'ten'

FLOAT CONVERSION
123.0
1.0
0.0
10.0
10.5

In [4]:
#complex
print("COMPLEX CONVERSION")
print(complex(2,3))
print(complex(4,-19))
print(complex(True,False))
print(complex(10))
print(complex(10.5))
print(complex(True))
print(complex(False))
print(complex("10"))
print(complex("10.5"))

COMPLEX CONVERSION
(2+3j)
(4-19j)
(1+0j)
(10+0j)
(10.5+0j)
(1+0j)
0j
(10+0j)
(10.5+0j)

In [5]:
#bool
print("BOOL CONVERSION")
print(bool(123)) 
print(bool(1.0)) 
print(bool(0.0)) 
print(bool(0.1)) 
print(bool("abc")) 
print(bool(""))

BOOL CONVERSION
True
True
False
True
True
False

In [7]:
#str
print("STRING CONVERSION")
print(str(123))
print(str(10.5))
print(str(True))
print(str(False))
print(str("hello"))

STRING CONVERSION
123
10.5
True
False
hello

In [9]:
#ord() - convert char to its ascii
ord('a')

97

In [10]:
# chr() - convert ascii to char
chr(97)

'a'

In [19]:
# bytes (No value modification can be done)
x=[10,20,30]
b =bytes(x)
print(type(b))
for i in b:
    print(i, end=" ")

<class 'bytes'>
10 20 30

In [20]:
b[0] = 20
for i in b:
    print(i, end=" ")

TypeError: 'bytes' object does not support item assignment

In [21]:
#bytearray (Modification on value can be done)
x=[10,20,30]
b =bytearray(x)
print(type(b))
for i in b:
    print(i, end=" ")

<class 'bytearray'>
10 20 30

In [22]:
b[0] = 100
for i in b:
    print(i, end=" ")

100 20 30

1. Identitiy Operator (is, is not)

In [29]:
s1 = "abc"
s2 = "abc"
print(s1 is s2)
print(s1 is not s2)

True
False

In [26]:
a = 10 
b = 10
# id() print address of variable
print(id(a), id(b))
print(a is not b)
print(a is b)

140703772907568 140703772907568
False
True

2. Membership Operator (in, not in)

In [9]:
li = [10,20,30,40]
10 in li

True

In [10]:
20 not in li

False

In [35]:
# Add first and last digit of a 9 digit number
num = input("enter 9 digit num")
print(int(num[0])+int(num[-1]))

10

Module Imports

In [4]:
import math
print(math.pi)
math.sqrt(36)

3.141592653589793

6.0

In [6]:
from math import pi,sqrt
print(pi)
sqrt(81)

3.141592653589793

9.0

In [8]:
import math as m
print(m.sqrt(25))
m.pi

5.0

3.141592653589793

In [12]:
# Add 2 num in single line
print("Sum: ", int(input("Enter number 1: ")) + int(input("Enter number 2:")))

Sum:  124

In [15]:
text = "4+3*2-1"
# x = eval(input("Enter values: "))
x= eval(text)
print(x)
print(type(x))

9
<class 'int'>

In [16]:
print(10*"hello ")

hello hello hello hello hello hello hello hello hello hello

In [3]:
a=10
b=20
c=30
# {} replacement operator
print('a is {0} and b is {1}'.format(a,b))
print(f'a is {a} and {b}')
print('a is {x} and {y}'.format(x=a, y=b))
print('a is {} and b is {}'.format(a,b))

a is 10 and b is 20
a is 10 and 20
a is 10 and 20
a is 10 and b is 20